<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="/fragments/header :: commonHeader(~{::title})">
    <title>PRIM Registered Social Network Accounts</title>
</head>
<body>

<div th:replace="/fragments/navigation :: navigation" />

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h2 class="text-center" th:text="#{label.socialList.title}">Registered Social Networks</h2>
            <!DOCTYPE HTML> 
<html>
<head>
</head>
<body>
  <div id="chartContainer" style="height: 300px; width: 100%;">
  </div>
</body>
</html>
            <hr>
        </div>
    </div>
    <table class="table table-hover table-striped">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Network</th>
            <th scope="col">Last Retrieved</th>
            <th scope="col">Registered</th>
            <th scope="col">Expires</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="account : ${accounts}">
            <td th:text="${account.socialNetwork}"></td>
            <td th:text="${account.lastUsed}"></td>
            <td th:text="${account.createdTime}"></td>
            <td th:text="${account.Expires}"></td>
        </tr>
        </tbody>
    </table>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <a class="btn btn-secondary btn-lg" th:href="@{/social/register}" th:text="#{label.newSocialNetwork}">Register New Social Network</a>
        </div>
    </div>
    <footer th:replace="/fragments/footer :: footer" />
</div>
<div th:replace="/fragments/scripts :: commonScripts(~{::script})" />

</body>
</html>