<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="/fragments/header :: commonHeader(~{::title})">
    <title>Welcome to PRIM</title>
</head>
<body>

<div th:replace="/fragments/navigation :: navigation" />
<div class="container-fluid">
    <h1 class="text-center">Welcome to PRIM!</h1>
    <hr>
    <div sec:authorize="isAuthenticated()">
        <p class="text-center"><a th:href="@{/logout}" class="btn btn-primary btn-default">Logout</a></p>
    </div>
    <div sec:authorize="!isAuthenticated()">
        <p class="text-center">Please <a th:href="@{/login}">sign in</a> to start using PRIM.</p>
    </div>
    <hr>
    <footer th:replace="/fragments/footer :: footer" />
</div>
<div th:replace="/fragments/scripts :: commonScripts(~{::script})" />

</body>
</html>