<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<h1>Welcome!</h1>

<p>Click <a th:href="@{/hello}">here</a> to see a greeting.</p>

<p>Get your greeting via a webpage <a href="greetingweb">here</a> (Thymeleaf Template)</p>
<p>Get your greeting via a webpage <a href="greetingwebgroovy">here</a> (Groovy Template)</p>
<p>Get your greeting via JSON <a href="greetingjson">here</a></p>
<hr>
<p>Check site <a href="actuator/health">health</a></p>
<p>Check site <a href="actuator/info">info messages</a></p>

</body>
</html>